@using HotelApp.Core;
@model IEnumerable<Cliente>;
@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center">
    <h1>Buscar</h1>
</div>
<div class="text-center">
    <form asp-controller="Cliente" asp-action="Buscar" method="get">
        <input type="text" name="busqueda" />
        <input type="submit" value="Buscar" />
    </form>
</div>

<div class="text-center">
    @if (Model.Count() == 0 && Context.Request.RouteValues.ContainsKey("Busqueda"))
    {
        <p>No se encontraron clientes.</p>
    }
    else
    {
        <h3>Clientes</h3>
        <br>

        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Dni</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <th>@cliente.Dni</th>
                        <td>@cliente.Nombre</td>
                        <td>@cliente.Apellido</td>
                        <td>@cliente.Email</td>
                        <td><a asp-action="Modificar" asp-route-dni="@cliente.Dni">Modificar <i class="bi bi-pencil-fill" style="color: black;"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>